$primary-color: #FCFAF9;
$accent-color: #FBA89D;
$hover-color: #fec7c0;
$text-color: #2C2726;
$strokes-color: #ECE5E3;
$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 900
);
$font-size: 3rem;


body {
  background: $primary-color;
  font-weight: map-get($font-weights, bold);
  color: $text-color;
  font-family: 'Rubik', sans-serif;
  font-weight: map-get($font-weights, bold);
  height: 100vh;
  position: relative;
  margin: 0;
  background-image: url(img/bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
h1{
	font-size: 6rem;
	font-weight: map-get($font-weights, bold);
}
h2 {
	font-size: 3.4rem;
	font-weight: map-get($font-weights, bold);
}
h3 {
	font-size: 2rem;
	font-weight: map-get($font-weights, bold);
}
h4 {
	font-weight: map-get($font-weights, regular);
	font-size: 1.1rem;
}
p {
	font-size: 1rem;
	font-weight: map-get($font-weights, regular);
}


/* HEADER //////////////////////////////////////////////////////////////////////////*/
.navbar {
		background: rgb(251,168,157);
		background: linear-gradient(180deg, $primary-color 0%, rgba(254,199,192,0) 100%);
		.Menu {
			padding: 40px 150px 40px 150px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			ul{
				display: flex;
				justify-content: flex-end;
				list-style: none;
				text-decoration: none;
			}
			a {
				text-transform: uppercase;
				font-weight: map-get($font-weights, regular);
				font-size: 1.2rem;
				margin: 2rem;
				text-decoration: none;
				color: $text-color;
			}
		}
}
/*Content /////////////////////////////////////////////////////////////////////////*/
.content {
	padding: 80px 150px 80px 150px;
	display: flex;
	flex-direction: column;
	header {
		margin-top: 2rem;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
		h4 {
			max-width: 390px;
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			margin: 0;
		}
	}
	.card-box {
		p {
			text-align: left;
		}
		h3 {
			text-align: left;
		}
		display: flex;
	    justify-content: space-between;
		box-sizing: border-box;
		width: 100%;
		gap: 3%;
		margin-top: 80px;
		.desc {
			padding: 30px;
		}
		.stars {
			display: flex;
			justify-content: flex-start;
		}
		.star {
			height: 24px;
			width: 24px;	
		}
		.card {
			width: 100%;
			border: solid $strokes-color 2px;
			border-radius: 20px;
			overflow: hidden;
			background-color: $primary-color;
			h3 {
				margin: 0;
			}
			p {
				margin: 0;
			}
			
			.desc {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 200px;
			}
			span.bottom-box {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
			}
			&:hover {
				box-shadow: #F3ECE9 0px 6px 24px 0px;
				transition: ease-in-out 0.2s;
			}
			.img-box1 {
				height: 312px;
				img {
					max-width: 100%;
  					display: block;
  					object-fit: cover;
					height: 100%;
				}
			}
			.img-box2 {
				height: 312px;
				img {
					max-width: 100%;
  					display: block;
  					object-fit: cover;
					height: 100%;
				}
			}
			.img-box3 {
				height: 312px;
				img {
					max-width: 100%;
  					display: block;
  					object-fit: cover;
					height: 100%;
				}
			}
		}
	}
}

/* Button */////////////////////////////////////////////////////////////////////
.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 80px;
	
}
.arrow-button {
	height: 65px;
	width: 65px;
	
}

// Set the button link style
.link {
	font-family: 'rubik', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	margin: 8px;
	transition: all 0.2s ease;
	// common SQUIRCLE props
	--squircle-radius: 20px;
	--squircle-smooth: 1;
	
	// Set the basic <a> style
	a {
		display: block;
		color: white;
		text-decoration: none;
		padding: 16px 24px;
		transition: all 0.2s ease;
	}
	
	// Styles for FILL	
	&_fill {
		background: $accent-color;
		// SQUIRCLE props
		mask: paint(squircle);
		// Hover effect		
		&:hover {
			background: $hover-color;
			transition: all 1s ease-out;
			box-shadow: #F3ECE9 0px 6px 24px 0px;
		}
	}
	
	// Styles for OUTLINE
	&_outline {
		position: relative;
		
		a {
			position: relative;
			z-index:1;
			color: $accent-color;
		}
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			z-index:0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $accent-color;
			transition: all 0.2s ease;
			// SQUIRCLE props
			mask: paint(squircle);
			--squircle-outline: 2px;
		}
		
		// Hover effect		
		&:hover {
			&:after {
				background: $hover-color;
				
			}
			a {
				color: $hover-color;
			}
			box-shadow: #F3ECE9 0px 6px 24px 0px;
		}
	}
}
/*FOOTER//////////////////////////////////////////////////////////////*/
footer {
	height: 500px;
	text-align: left;
	padding: 80px 150px 80px 150px;
	background-color: #fff;
	width: 100%;
}
@media  screen and (min-width: 1441px) {
	main {
		width: 1440px;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
	body {
		justify-content: center;
	}
	.Menu {
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
	footer {
		width: 100%;
		padding: 80px 0;
	}
	.leftside {
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
}